.project
.settings
.meteor/local
npm-debug.log
node_modules
private/twitter.json
.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.DS_Store.DS_Store
.DS_Store
.gitconfig.private
settings.json