<template name="tweets">
	{{#each tweets}}
		<div class="event">
			<div class="label">
				<a href="http://twitter.com/{{user.screen_name}}" title="{{user.name}}">
						<img src="{{user.profile_image_url}}">
					</a>
			</div>
			<div class="content">
					<div class="date">{{moments created_at}}</div>
					<div class="summary">
						{{#if retweeted_status}}
							<a href="http://twitter.com/{{user.screen_name}}">{{user.name}}</a> retweeted
						{{else}}
							{{{linkify this}}}
						{{/if}}
					</div>
					{{#if retweeted_status}}
						<div class="extra text">
							{{{linkify retweeted_status}}}
						</div>
					{{else}}
	  				{{#if entities.media}}
	  					<div class="extra images">
	  						{{#each entities.media}}
	  							{{#if isPhoto}}
									<a href="{{expanded_url}}"><img src="{{media_url}}" /></a>
								{{/if}}
							{{/each}}
	  					</div>
	  				{{/if}}
	  			{{/if}}
			</div>
		</div>
	{{/each}}
</template>